
.calc{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 40px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;

}
.btn{
    width: 30px;
    height: 45px;
    margin-left: 60px;
    margin-top: 40px;
    background-color: rgb(240, 195, 195);
}